
HoneyOS/.vs/HoneyOS/v17/DocumentLayout.json
HoneyOS/HoneyOS/obj/Debug/DesignTimeResolveAssemblyReferences.cache
HoneyOS/HoneyOS/obj/Debug/DesignTimeResolveAssemblyReferences.cache
HoneyOS/HoneyOS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HoneyOS/HoneyOS/obj/Debug/HoneyOS.csproj.AssemblyReference.cache
HoneyOS/.vs/HoneyOS/v17/DocumentLayout.json
