
HoneyOS/.vs/HoneyOS/v17/DocumentLayout.json
HoneyOS/HoneyOS/obj/Debug/DesignTimeResolveAssemblyReferences.cache
HoneyOS/HoneyOS/obj/Debug/DesignTimeResolveAssemblyReferences.cache
HoneyOS/HoneyOS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HoneyOS/HoneyOS/obj/Debug/HoneyOS.csproj.AssemblyReference.cache
HoneyOS/.vs/HoneyOS/v17/DocumentLayout.json
HoneyOS/.vs/HoneyOS/v17/DocumentLayout.json
HoneyOS/.vs/HoneyOS/v17/.suo
HoneyOS/HoneyOS/obj/Debug/HoneyOS.csproj.AssemblyReference.cache
HoneyOS/HoneyOS/obj/Debug/HoneyOS.csproj.CoreCompileInputs.cache
HoneyOS/HoneyOS/obj/Debug/HoneyOS.csproj.FileListAbsolute.txt
HoneyOS/HoneyOS/obj/Debug/HoneyOS.csproj.GenerateResource.cache
HoneyOS/.vs/HoneyOS/v17/DocumentLayout.json
HoneyOS/.vs/HoneyOS/v17/DocumentLayout.json
HoneyOS/HoneyOS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HoneyOS/HoneyOS/obj/Debug/HoneyOS.csproj.AssemblyReference.cache
